# Fishstrap Keybinds Configuration
[global]
toggle_ui = VK_F9
toggle_fps_counter = VK_F8
reload_shaders = VK_F10
reload_fast_flags = VK_F11
emergency_stop = VK_F12

[launcher]
launch_roblox = VK_F5
multi_instance_toggle = VK_F6
